---
name: 'Challenge 2'

env:
  HELLO: 'artifact.txt'

on: [push]

jobs:
  checkout:
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Do the checkout'
        uses: actions/checkout@v3

  create:
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Create the ${{ env.HELLO }} file'
        run: echo 'Hello artifact' > ${{ env.HELLO }}

  artifact:
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Upload the artifact'
        uses: actions/upload-artifact@v3.1.2
        with:
          name: my-artifact
          path: ./${{ env.HELLO }}
